{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'aibots/css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="{% url 'users:register' %}">Войти</a></li>
                <li><a href="{% url 'users:register' %}">Регистрация</a></li>
                <li class="dropdown">
                    <a href="#">Наши продукты</a>
                    <ul class="dropdown-content">
                        <li><a href="#">AI ассистент</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                <div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
