{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AiMen</title>
    <link rel="stylesheet" href="{% static 'aibots/css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="#">Войти</a></li>
                <li><a href="#">Регистрация</a></li>
                <li class="dropdown">
                    <a href="#">Наши продукты</a>
                    <ul class="dropdown-content">
                        <li><a href="#">AI ассистент</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Добро пожаловать на наш сайт!</h1>
    </main>
</body>
</html>
